/*------------ HELP MODAL STYLES ------------*/
/*Help Modal*/
#helpModal.modal .modal-header {
  background-color: #fff;
}

/*Help Modal Title*/
#helpModal .modal-header .modal-title {
  color: $primary;
}

/*Help Modal Headings*/
#helpModal .modal-body .help-section h5 {
  color: $primary;
}

#helpModal .modal-body .help-item h6 {
  color: #000018;
}
