/*----------- SPLASH PAGE STYLES -----------*/
#splashPageModal .modal-dialog .modal-content{
  font-family: 'GMGlobalSansCond';
  background-size: cover;
  background-position: center;

}

#splashPageModal h1, h3, h4, h5{
  color: $primary;
}
