/*------------ NAVIGATION STYLES ------------*/
/*Navigation Main Color*/
nav.navbar {
  background-color: $primary;
}

/*Navigation Secondary Color*/
.navbar-collapse {
  border: none;
  background-color: #d14040;
}

/*Navigation Current Page*/
li.courseTitleChapterSelected {
  background-color: #fff;
}

li.courseTitleChapterSelected .nav-link{
  color: $primary !important;
}

/*  Navigation Tabs Verion */
.tabbed{
  background: #fff !important;
}

.tabbed #navbarMobile {
  max-width: 1700px;
}

.tabbed #navbarMobile li{
  background: #fff;
  color: $primary;
  font-weight: 600;
  height: 50px;
  font-size: 14px;
}

.tabbed #navbarMobile li.courseTitleChapterSelected {
  background: #fff;
  border-bottom: 3px solid $primary;
}

.tabbed #navbarMobile .dropdown .dropdown-menu li{
  background: #f7f7f7 !important;
}

/*Dropdown Navigation*/
#navbarMain #navbarMobile .dropdown .dropdown-menu li{
  background: #b77979;
  border: 2px solid transparent;
  width: 100%;
  display: block;
  font-weight: 500;
  margin-bottom: 1px;
}

#navbarMain #navbarMobile .dropdown .dropdown-menu li a{
  color: $primary;
}

#navbarMain #navbarMobile .dropdown .dropdown-menu li:hover{
  font-weight: 600;
}


.tabbed #navbarMobile .courseTitleChapter{
  color: $primary;
}

.tabbed #navbarMobile .courseTitleChapter p{
  color: $primary !important;
}

#navbarMobile .nav-link{
  color: $primary;
}
