<div id="navbar" class="nav-container navbar-fixed-left">
  <nav class="navbar navbar-dark">
    <div class="container">

      <div class="mobile-container container-fluid d-block d-md-none">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <span id="titleMainMobile" class="title-main"></span>
        <span id="subTitleMobile" class=""></span>
      </div>

      <div class="title-container d-none d-sm-none d-md-block ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a id="navLogo" class="navbar-brand"></a>
        <span id="titleMain" class="title-main"></span>
        <span id="subTitle" class=""></span>
      </div>

      <div class="links-container d-none d-sm-none d-md-block ">
        <ul id="headerLinks" class="nav page-assist float-right"></ul>
      </div>
    </div>

    <div id="navbarMain" class="navbar-collapse collapse">
      <ul id="navbarMobile" class="navbar-nav mr-auto"></ul>
    </div>
  </nav>
</div>
