<div id="navbar sidebar-wrapper">
  <nav class="navbar navbar-collapse navbar-dark left-nav">

    <div class="container-fluid d-block d-md-block d-lg-none">
      <span id="titleMainMobile" class="title-main"></span>
    </div>

    <div class="container">

      <div style="padding: 0; text-align: left" class="container-fluid d-none d-md-none d-lg-block mx-auto">
        <span id="titleMain" class="title-main"></span>
        <br>
        <span id="subTitle" class="left-nav-text"></span>
      </div>

      <div class="navbar-header">
        <button type="button" class="navbar-toggler navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarMain" aria-expanded="false" aria-controls="navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div id="navbarMain" class="navbar-collapse collapse">
      <ul id="navbarMobile" class="nav nav-justified nav left-nav-drop"></ul>
    </div>
    </div>




    <ul id="headerLinks" class="nav navbar-right page-assist float-right"></ul>


    

  </nav>  
</div>