
.card {
  perspective: 1500px;
  position: relative;
  height: 450px;
  border: 0;
  cursor: pointer;
}

.card__side {
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.50px 40px rgba(0, 0, 0, 0.15);
  height: 450px;
  width: 100%;
  transition: all 800ms ease;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.card__side--front {
  background: rgba(43, 43, 43, 1);
  z-index: 1;
  color: white;
}

.card__side--back {
  z-index: -1;
  transform: rotateY(180deg);
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0deg);
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__cta h4{
  font-size: 35px;
  font-weight: 100;
  text-align: center;
}

a.show-more {
  font-family: 'GMGlobalSansCond';
  font-size: 20px;
  border: 1px solid #fff;
  color: #ffffff !important;
  padding: 5px;
  border-radius: 8px;
  opacity: .5;
  display: block;
  width: 80%;
  margin: 0 auto;
}

a.show-more:hover,
a.show-more:active,
a.show-more:focus {
  text-decoration: none;
  opacity:1;
}
