#knowledgeCheck{
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  padding: 30px;
  margin-left: 50px;
}

#knowledgeCheck form li{
  list-style-type: none;
  margin-bottom: 25px;
  padding: 10px;
}

#knowledgeCheck form .wrong{
  background: rgba(255, 0, 0,.15);
}

#knowledgeCheck form li p{
  margin-bottom: 8px;
}

#knowledgeCheck form li label{
  margin-left: 8px;
}
