/*----------- DRAG AND DROP STYLES -----------*/
/*Draggable Items*/
#dragAndDrop .item-container p{
  background: #0193cf;
  color: #fff;
}

/*Hover Button*/
#dragAndDrop .btn-default-main{
  border: 2px solid #0193cf;
  background: #0193cf;
  color: #fff;
}

/*Hover Button Seconday*/
#dragAndDrop .btn-reversed{
  border: 2px solid #0193cf;
  background: #fff;
  color: #0193cf;
}
