<div id="navbar" class="nav-container navbar-fixed-left">
  <nav class="navbar navbar-collapse navbar-dark">
    <div class="container-fluid d-block d-sm-none">
      <span id="titleMainMobile" class="title-main"></span>
    </div>
	
    <div class="container">
      <div class="navbar-header">
	  
        <button type="button" class="navbar-toggler navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarMain" aria-expanded="false" aria-controls="navbar">
          <span class="navbar-toggler-icon"></span>

          <!--<span id="btnNavMenu" class="navmenu">MENU</span>-->
        </button>
        <!--<img class="navbar-brand add-theme-path" src="theme-path/media/img/logo_main.png" alt="">-->
		
        <div class="title-container d-none d-sm-none d-md-block">
          <span id="titleMain" class="title-main"></span>
          <span id="subTitle" class=""></span>
        </div>
        <ul id="headerLinks" class="nav navbar-right page-assist float-right"></ul>
      </div>
	  
      <div id="navbarMain" class="navbar-collapse collapse">
        <ul id="navbarMobile" class="nav nav-justified"></ul>
      </div>
    </div>
  </nav>

  <!--<nav id="navbarBottom" class="navbar navbar-default"></nav>-->

</div>
