<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <courseStorageID>GM_Selling_Skills_Match_Features_to_Wants</courseStorageID>
  <courseTitle><![CDATA[HTML TEMPLATE]]></courseTitle>
  <courseSubTitle><![CDATA[WEBFLAVOR COURSE]]></courseSubTitle>
  <version>0.0.7</version>
  <theme>gm_selling_skills</theme> <!-- active -->
  <cookieName>cookie_gm_ssmftw</cookieName>
  <!--
  completionMethod values:
  page_view: course will automatically register completion upon viewing all pages
  assessment: course will register completion based upon results of an assessment
  immediate: course will register completion on load
  custom: catchall for completion conditions that don't fall within the other conditions. e.g. specific interactives need to be completed in addition to assessments.
  -->
  <completionMethod>assessment</completionMethod>
  <!-- MENU PLACEMENT: Placement on page, top, left, or none-->
  <!-- valid values: "top", "left", "false" -->
  <menuPlacement>top</menuPlacement>
  <!-- MENU STYLE: Type of style, default dropdown or responsive tabbed -->
  <!-- valid values: "default", "tab", -->
  <menuStyle>tab</menuStyle>
  <!-- COMPONENTS: Used components on the course -->
  <!-- valid values: "true", "false"-->
  <hasSplashPage>false</hasSplashPage>
  <hasGlossary>true</hasGlossary>
  <hasResources>true</hasResources>
  <hasAssessments>true</hasAssessments>
  <hasDragDrops>true</hasDragDrops>
  <hasHotspots>true</hasHotspots>

  <bookmarking>
    <hasLocalBookmarking>false</hasLocalBookmarking>
    <bookmarkingStorageID></bookmarkingStorageID>
  </bookmarking>

  <trackActions>true</trackActions>
  <linkTracking>
    <trackLinks>true</trackLinks>
  </linkTracking>

  <pageCount>
    <countPages>false</countPages>
    <pageCountStorageID></pageCountStorageID>
    <totalPages></totalPages>
  </pageCount>

  <!-- VENDORS: Used vendors in the course -->
  <!-- valid values: "true", "false"-->
  <vendors>
    <create_js>false</create_js>
    <tweenmax>true</tweenmax>
    <flip_card>false</flip_card>
    <font_awesome>true</font_awesome>
    <glyphicons>true</glyphicons>
  </vendors>
</settings>
