<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <version>5.5</version>
  <theme>maroon</theme>
  <courseStorageID>HTML_Template_WebFlavor</courseStorageID>
  <courseTitle><![CDATA[HTML Template]]></courseTitle>
  <courseSubTitle><![CDATA[WebFlavor Course]]></courseSubTitle>
  <cookies>html_tw</cookies>
  <cookieName>----COOKIE_NAME_HERE----</cookieName>

  <!--
  completionMethod values:
  page_view: course will automatically register completion upon viewing all pages
  assessment: course will register completion based upon results of an assessment
  immediate: course will register completion on load
  custom: catchall for completion conditions that don't fall within the other conditions. e.g. specific interactives need to be completed in addition to assessments.
  -->
  <completionMethod>assessment</completionMethod>
  <!-- MENU PLACEMENT: Placement on page, top, left, or none-->
  <!-- valid values: "top", "left", "false" -->
  <menuPlacement>top</menuPlacement>
  <!-- MENU STYLE: Type of style, default dropdown or responsive tabbed -->
  <!-- valid values: "default", "tab", -->
  <menuStyle>tab</menuStyle>
  <!-- COMPONENTS: Used components on the course -->
  <!-- valid values: "true", "false"-->
  <hasSplashPage>false</hasSplashPage>
  <hasResources>true</hasResources>
  <hasGlossary>true</hasGlossary>
  <hasHelp>true</hasHelp>

  <hasAssessments>true</hasAssessments>
  <hasDragDrops>true</hasDragDrops>
  <hasHotspots>true</hasHotspots>
  <hasThumbnails>true</hasThumbnails>

  <bookmarking>
    <hasLocalBookmarking>false</hasLocalBookmarking>
    <bookmarkingStorageID/>
  </bookmarking>

  <trackActions>true</trackActions>
  <linkTracking>
    <trackLinks>true</trackLinks>
  </linkTracking>

  <pageCount>
    <countPages>false</countPages>
    <pageCountStorageID/>
    <totalPages/>
  </pageCount>

  <!-- VENDORS: Used vendors in the course -->
  <!-- valid values: "true", "false"-->
  <vendors>
    <create_js>false</create_js>
    <tweenmax>true</tweenmax>
    <flip_card>false</flip_card>
    <font_awesome>true</font_awesome>
    <glyphicons>true</glyphicons>
  </vendors>
</settings>
