/*----------- GLOSSARY MODAL STYLES -----------*/
/*Glossary Modal*/
#glossaryModal .modal-header {
  background-color: #d14040;
}

/*Glossary Modal Title*/
#glossaryModal .modal-title {
  color: #fff;
}

/*Glossary Modal Alphabet*/
#glossaryModal .alphabet a {
  font-size: 22px;
}
