/*----------- DRAG AND DROP STYLES -----------*/
/*Draggable Items*/
#dragAndDrop .item-container p{
  background: #632121;
  color: #fff;
}

/*Hover Button*/
#dragAndDrop .btn-default-main{
  border: 2px solid #632121;
  background: #632121;
  color: #fff;
}

/*Hover Button Seconday*/
#dragAndDrop .btn-reversed{
  border: 2px solid #632121;
  background: #fff;
  color: #632121;
}
