@import "interactives/dragdrop.css";
@import "interactives/assessment.css";
@import "interactives/hotspot.css";
@import "interactives/ctr.css";
@import "interactives/card.css";
@import "interactives/knowledgecheck.css";

@import "components/splash.css";
@import "components/help.css";
@import "components/glossary.css";
@import "components/resources.css";
@import "components/navigation.css";
@import "components/footer.css";
@import "components/vidaudio.css";

@import "partials/thumbnail.css";
@import "partials/container.css";
@import "partials/text.css";
@import "partials/utilities.css";

html {
  height: 100%;
}

body {
  background: #fff;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  height: 100%;
}

ul {
  margin-bottom: 20px;
}

div[class^="col"] {
  /*overflow: hidden;*/
}

div[class^="col"] {
  margin: 5px 0 5px 0;
}

div[class^="col"] > .row{
  height: 100%;
}

.componentContainer{
  height: 100%;
  padding: 7px;
  margin: 5px;
}

div[class^="col"] .inner-col-top{
  margin-top: 0;
}

div[class^="col"] .inner-col-bottom{
  margin-bottom: 0;
}

.color1{
  height: 300px;
  opacity: .75;
  background: maroon;
}
.outline{
  border: 1px solid maroon;
}

.size2{
  height: 610px;;
}

@media only screen and (max-width: 768px) {
  .page-container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

#titleMain {
  font-weight: 100;
  font-size: 28px;
  color: #fff;
  line-height: 50px;
  text-transform: uppercase;
}

#subTitle {
  font-weight: 600;
  font-size: 28px;
  color: #fff;
  line-height: 50px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {
  .navbar-collapse > ul > li {
    color: #fff;
  }
}

@media only screen and (max-width: 992px) {
  #titleMainMobile {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    font-weight: 100;
    text-align: center;
  }

  #subTitleMobile {
    color: #fff;
    text-align: center;
  }
}

/* PAGE TITLE */
h1#pageTitle {
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: 3px solid #cdcdcd;
  font-size: 32px;
}

h2.section-title {
  margin-bottom: 20px;
}

.page-number {
  position: absolute;
  right: 15px;
  top: 0;
}

.page-container p.cta-page {
  font-weight: 600;
  font-style: italic;
}



.page-container.completion {
  background: url(../../dir/media/img/assets/bg_completion.jpg) center center/cover no-repeat fixed; }



  .carousel-item .btn-primary {
    border: none;
    background-color: #003056;
    color: #fff !important;
    width: 100%;
    white-space: normal !important;
    margin: 5px 0;
  }

  .carousel-item .inner-item {
    overflow: hidden;
    margin: 0px !important;
  }

  .carousel-inner {
    min-height: 550px;
  }

  .carousel-item {
    padding: 0 5%;
  }

  .carousel-intro-img{
    margin-bottom: 15px;
  }

  .carousel-intro-img-smiths{
    background-image: url(../../dir/media/img/assets/smiths-intro.png);
    height: 300px;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .carousel-intro-img-elizabeth{
    background-image: url(../../dir/media/img/assets/elizabeth-intro.png);
    height: 300px;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .carousel-intro-img-why{
    background-image: url(../../dir/media/img/assets/why-this-worked.png);
    height: 300px;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .carousel-intro-img-exterior{
    background-image: url(../../dir/media/img/assets/exterior.png);
    height: 300px;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .carousel-intro-img-sharon{
    background-image: url(../../dir/media/img/assets/sharon-large.png);
    height: 300px;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 5% !important;
  }

  .carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23003056' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23003056' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }
