@import "interactives/dragdrop.css";
@import "interactives/assessment.css";
@import "interactives/hotspot.css";
@import "interactives/ctr.css";

@import "components/splash.css";
@import "components/help.css";
@import "components/glossary.css";
@import "components/navigation.css";
@import "components/footer.css";

@import "partials/thumbnail.css";
@import "partials/container.css";
@import "partials/text.css";
@import "partials/utilities.css";

html {
  height: 100%;
}

body {
  background: #fff;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  height: 100%;
}

ul {
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .page-container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

#titleMain {
  font-weight: 100;
  font-size: 28px;
  color: #fff;
  line-height: 50px;
  text-transform: lower;
}

#subTitle {
  font-weight: 600;
  font-size: 28px;
  color: #fff;
  line-height: 50px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {
  .navbar-collapse > ul > li {
    color: #fff;
  }
}

@media only screen and (max-width: 992px) {
  #titleMainMobile {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    font-weight: 100;
    text-align: center;
  }

  #subTitleMobile {
    color: #fff;
    text-align: center;
  }
}

/* PAGE TITLE */
h1#pageTitle {
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: 3px solid #cdcdcd;
  font-size: 32px;
}

h2.section-title {
  margin-bottom: 20px;
}

.page-number {
  position: absolute;
  right: 15px;
  top: 0;
}

.page-container p.cta-page {
  font-weight: 600;
  font-style: italic;
}

#splashPageModal .modal-dialog .modal-content{
  background-image: url('../../../dir/media/img/assets/bg_completion.jpg');
  height: 800px;
  background-repeat: no-repeat;
}

.page-container.completion {
  background: url(../../dir/media/img/assets/bg_completion.jpg) center center/cover no-repeat fixed; }
