<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE"/>
    <title></title>

    <!-- build:js ../../vendors/vendors.min.js -->
    <script type="text/javascript" src="../../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../vendors/bootstrap/js/bootstrap.min.js"></script>
    <!-- endbuild -->

    <!-- build:css ../../vendors/vendors.min.css -->
    <link type="text/css" rel="stylesheet" href="../../../src/vendors/bootstrap/css/bootstrap.min.css"/>
    <!-- endbuild -->

    <!-- build:js ../../js/functions.js -->
    <script type="text/javascript" src="../../js/settings.js"></script>
    <script type="text/javascript" src="../../js/common_functions.js"></script>
    <script type="text/javascript" src="../../js/content_functions.js"></script>
    <script type="text/javascript" src="../../js/tracking_functions.js"></script>
    <!-- endbuild -->

    <!-- build:js ../../components/components.js -->
    <script type="text/javascript" src="../../components/modal_functions.js"></script>
    <script type="text/javascript" src="../../components/ctr.js"></script>
    <!-- endbuild -->

    <link type="text/css" rel="stylesheet" href="../../css/default.css"/>
    <link type="text/css" rel="stylesheet" href="../../../dir/themes/gm_selling_skills/theme.css"/>

  </head>

  <body onload="loadContent('0_0'); loadContentStyles(); initCommonFunctions(); initCTR(); setupAssessment();">

    <div id="pageContainer" class="page-container container">
      <div id="pageContent">

      </div>
      <div class="footer-spacer"></div>
    </div>
    <div id="pageModalContainer"></div>
  </body>
</html>
