<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE"/>
    <title></title>

    <!-- build:js ../../vendors/vendors.min.js -->
    <script type="text/javascript" src="../../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../vendors/bootstrap/js/bootstrap.min.js"></script>
    <!-- endbuild -->

    <!-- build:css ../../vendors/vendors.min.css -->
    <link type="text/css" rel="stylesheet" href="../../../src/vendors/bootstrap/css/bootstrap.min.css"/>
    <!-- endbuild -->

    <!-- build:js ../../js/functions.js -->
    <script type="text/javascript" src="../../js/settings.js"></script>
    <script type="text/javascript" src="../../js/common_functions.js"></script>
    <script type="text/javascript" src="../../js/content_functions.js"></script>
    <script type="text/javascript" src="../../js/tracking_functions.js"></script>
    <!-- endbuild -->

    <script type="text/javascript" src="../drag_drop_functions.js"></script>


    <!-- build:js ../../components/components.js -->
    <script type="text/javascript" src="../../components/modal_functions.js"></script>
    <script type="text/javascript" src="../../components/ctr.js"></script>
    <!-- endbuild -->

    <link type="text/css" rel="stylesheet" href="../../css/default.css"/>
    <link type="text/css" rel="stylesheet" href="../../../dir/themes/gm_selling_skills/theme.css"/>

  </head>
  <body onload="initContent(); loadContentStyles(); initCommonFunctions();">

    <div id="pageContainer" class="page-container container">
      <div id="pageContent">
        <div class="row">
          <div class="col-sm-12">
            <h1 id="pageTitle">Know Your Lineup</h1>
            <div class="page-number"><span>2</span> of <span>2</span></div>
          </div>
        </div>

        <div id="dragAndDrop">
          <div class="row">
            <div class="col-md-6 left">
              <div class="row mr-2">
                <div class="col-md-10 mx-auto item">
                  <p draggable="true" ondragstart="dragStart(event)" >Test<p>
                </div>
                <div class="col-md-10 mx-auto item">
                  <p>Test<p>
                </div>
                <div class="col-md-10 mx-auto item">
                  <p>Test<p>
                </div>
                <div class="col-md-10 mx-auto item">
                  <p>Test<p>
                </div>
                <div class="col-md-10 mx-auto item">
                  <p>Test<p>
                </div>
                <div class="col-md-10 mx-auto item">
                  <p>Test<p>
                </div>
              </div>
            </div>

            <div class="col-md-6 right">
              <div class="row">
                <div ondragenter = "return dragEnter(event)"
            ondrop = "return dragDrop(event)"
            ondragover = "return dragOver(event)" class="col-md-10 mx-auto item"></div>
                <div class="col-md-10 mx-auto item"></div>
                <div class="col-md-10 mx-auto item"></div>
                <div class="col-md-10 mx-auto item"></div>
                <div class="col-md-10 mx-auto item"></div>
                <div class="col-md-10 mx-auto item"></div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="footer-spacer"></div>
    </div>
    <div id="pageModalContainer"></div>
  </body>
</html>
