/*----------- BUTTON STYLES -----------*/
.btn {
  padding: 10px 16px;
  border-radius: 0;
}

/*Default Button*/
.btn-default {
  font-family: 'GMGlobalSansCond';
  font-size: 20px;
  border: 2px solid #632121;
  background-color: #632121;
  color: #ffffff !important;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  background-color: #fff;
  border-color: #632121;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  color: #632121 !important;
}

#hotSpot .hotSpot-spot{
  background: rgba(99, 33, 33, .8);
}
