@import "typography.css";
@import "assessment.css";
@import "navigation.css";
@import "button.css";
@import "glossary.css";
@import "help.css";
@import "resources.css";
@import "dragdrop.css";
@import "text.css";

/*----------- SPLASH PAGE STYLES -----------*/
#splashPageModal .modal-dialog .modal-content{
  font-family: 'GMGlobalSansCond';
  background-size: cover;
  background-position: center;

}

#splashPageModal h1, h3{
  color: #632121;
}


/*------------ BASIC STYLES ------------*/
body {
  font-family: "GMGlobalSansCond" !important;
  text-rendering: optimizeLegibility;
}

/*Footer Navigation*/
footer.footer {
  background-color: rgba(154, 154, 154, 0.9);
}

.cardFront{
  background:#632121;
}
