/* QUOTES */
.quote > p > span.opening-quotes,
.quote > p > span.closing-quotes {
  font-size: 90px;
}

.quote > p > span.quote-text {
  text-align: justify;
}

/* end QUOTES */
/* COMPLETION PAGE */
.results-container ul li {
  font-size: 16px;
}

/* end COMPLETION PAGE */

/* QUOTES */
.quote > p {
  margin-top: 20px;
}

.quote > p > span.quote-text {
  display: inline-block;
  float: left;
  width: 80%;
  padding: 0 15px;
}

.quote > p > span.opening-quotes,
.quote > p > span.closing-quotes {
  display: inline-block;
  float: left;
  width: 10%;
}

/* end QUOTES */
/* TEXT CONTAINER */
.text-container {
  background-color: rgba(0, 48, 86, 0.95);
  padding: 20px;
}

.text-container h1#pageTitle {
  color: #fff;
}

.text-container p {
  color: #fff;
}

/* end TEXT CONTAINER */
/* ELEMENTS THAT LOOK LIKE LINKS BUT AREN'T */
.link-look {
  color: #0000EE;
}

.link-look:hover,
.link-look:active,
.link-look:focus {
  text-decoration: underline;
  cursor: pointer;
}

/* end ELEMENTS THAT LOOK LIKE LINKS BUT AREN'T */



/* end ASSESSMENT GAME SUMMARY SCREEN */
/* end ASSESSMENT MODAL */
.btn-default {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  border-radius: 0px;
  font-size: 20px;
}


/* ASSESSMENT BUTTON */
.btn-assess {
  cursor: pointer;
  height: 100%;
}

/* end ASSESSMENT BUTTON */
.page-container .loading-overlay > p {
  color: #4b4b4b;
  font-size: 26px;
  font-weight: normal;
}

/* COLLAPSABLE PART OF NAV BAR - MOBILE LINK LIST */
@media only screen and (max-width: 990px) {
  #titleMain{
    font-size: 22px;
  }
  #subTitle{
    font-size: 22px;
  }

  .links-container ul li a{
    font-size: 22px;
  }
}
