/* THUMBNAIL */
.thumbnail {
  border: 0;
  border-radius: 0;
  position: relative;
  height: 100%;
  padding: 0;
  cursor: pointer;
  margin-bottom: 2px; }

.thumbnail > a {
  text-decoration: none; }

.img-container {
  /*overflow: hidden;
  width: 100%;
  position: relative;
  background: transparent;*/
  box-shadow: 0 0.5px 40px rgba(0, 0, 0, 0.55);
}

.thumbnail .img-zoom {
  /*position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;*/
  width: 100%; }

.thumbnail:hover .img-zoom {
  /*-webkit-animation: kenburns .1s 1 linear forwards;
  -moz-animation: kenburns .1s 1 linear forwards;
  -o-animation: kenburns .1s 1 linear forwards;
  animation: kenburns .1s 1 linear forwards;*/ }

.thumbnail .caption {
  padding: 0;
  margin: 0;
}

.thumbnail .caption p{
  font-size: 15px;
  text-align: center;
}

.thumbnail .caption-title {
  display: table;
  height: 80px;
  width: 100%;
  background-color: #fff;
  opacity: .9;
  padding: 0 20px;
  box-shadow: 0 0.5px 40px rgba(0, 0, 0, 0.10);
  margin-bottom: 10px;
}

.thumbnail .caption-title > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #2b2b2b;
}

.thumbnail .caption h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 80px;
  color: #fff;
  padding: 0 20px;
  margin: 1px;
  height: 80px;
  background-color: #2b2b2b; }

.thumbnail .caption h3 > span {
  font-weight: 100;
  font-size: 50px;
}

.thumbnail .caption h3.clicked {
  color: #2b2b2b;

  -webkit-animation-name: ctr-clicked;
  animation-name: ctr-clicked;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.thumbnail .caption h3::before {
  /*content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;*/ }

.thumbnail .caption h4:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; }

.thumbnail .caption h4 {
  text-align: center;
  padding: 0 20px;
  height: 110px;
  background-color: #2b2b2b; }

.thumbnail .caption h4 > span {
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #fff; }
