@import "base/variables.scss";
@import "base/utilities.scss";

@import "interactives/vehicle.scss";
@import "interactives/card.scss";
@import "interactives/ctr.scss";
@import "interactives/dragdrop.scss";
@import "interactives/touchdrop.scss";
@import "interactives/hotspot.scss";
@import "interactives/knowledgecheck.scss";
@import "interactives/thumbnail.scss";
@import "interactives/carousel.scss";
@import "interactives/videoAudio.scss";

@import "components/button.scss";
@import "components/text.scss";

@import "layout/container.scss";
@import "layout/footer.scss";
@import "layout/glossary.scss";
@import "layout/help.scss";
@import "layout/navigation.scss";
@import "layout/resources.scss";
@import "layout/splash.scss";

html {
  height: 100%;
}

body {
  background: #fff;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  height: 100%;
}

ul {
  margin-bottom: 20px;
}
