/*------------ NAVIGATION STYLES ------------*/
/*Navigation Main Color*/
nav.navbar {
  background-color: #003056;
}

/*Navigation Secondary Color*/
.navbar-collapse {
  border: none;
  background-color: #003000
;
}

/*Navigation Current Page*/
li.courseTitleChapterSelected {
  background-color: #003056;
}

/*  Navigation Tabs Verion */
.tabbed{
  background: #fff !important;
}

.tabbed #navbarMobile {
  max-width: 1450px;
}

.tabbed #navbarMobile li{
  background: #fff;
  color: #003056;
  font-weight: 600;
  height: 50px;
  font-size: 14px;
}

.tabbed #navbarMobile li.courseTitleChapterSelected {
  background: #fff;
  border-bottom: 3px solid #003056;
}

.tabbed #navbarMobile .dropdown .dropdown-menu li{
  background: #f7f7f7 !important;
}

/*Dropdown Navigation*/
#navbarMain #navbarMobile .dropdown .dropdown-menu li{
  background: #3271a3;
  border: 2px solid transparent;
  width: 100%;
  display: block;
  font-weight: 500;
  margin-bottom: 1px;
}

#navbarMain #navbarMobile .dropdown .dropdown-menu li a{
  color: #003056;
}

#navbarMain #navbarMobile .dropdown .dropdown-menu li:hover{
  font-weight: 600;
}


.tabbed #navbarMobile .courseTitleChapter{
  color: #003056;
}

.tabbed #navbarMobile .courseTitleChapter p{
  color: #003056 !important;
}

#navbarMobile .nav-link{
  color: #003056;
}

@media (max-width: 767px) {

  .tabbed #navbarMobile .dropdown-menu li p{
    background: #fff !important;
    color: #003056 !important;
  }

  .tabbed #navbarMobile .dropdown p{
    color: #fff;
  }

  .tabbed #navbarMobile .courseTitleChapter{
    background: #003056;
    color: #fff;
  }

  .tabbed #navbarMobile .courseTitleChapter p{
    color: #fff !important;
  }

  .tabbed #navbarMobile .courseTitleChapterSelected p{
    color: #003056 !important;
  }

}
