a.download {
  border: 2px solid #003056;
  background-color: #003056;
  color: #ffffff !important;
}

a.download:hover,
a.download:active,
a.download:focus {
  color: #003056 !important;
}

/*Page Titles*/
h1#pageTitle {
  font-weight: 600;
  color: #003056;
  font-size: 26px;
  text-transform: uppercase;
}

/*Page Numbers*/
.page-number {
  font-weight: 600;
  font-size: 18px;
  color: #003056;
}

/*Page Content Text*/
.page-container p,
.page-container ul > li {
  font-weight: 100;
  font-size: 20px;
  color: #333;
}

.thumbnail .caption-title > span {
  color: #003056;
}
