/* GLOSSARY MODAL */
#glossaryModal.modal {
  overflow-y: hidden !important; }

#glossaryModal.modal .modal-dialog {
  margin: 0; }

#glossaryModal .modal-header {
  background-color: #2b2b2b;
  position: absolute;
  width: 100%;
  z-index: 10;
  display: block;
  border-radius: 0; }

#glossaryModal.modal .modal-body {
  padding-top: 120px;
  overflow-y: scroll; }

#glossaryModal.modal .modal-body .gloss-item {
  border-bottom: 1px solid #cbc3c0;
  padding: 20px 0; }

#glossaryModal .modal-title-wrapper {
  display: block;
  width: 100%; }

#glossaryModal .modal-title {
  display: inline-block;
  height: 100%;
  font-size: 30px;
  color: #000;
}

#glossaryModal .letterHeading {
  font-size: 30px;
  border-bottom: none;
  padding-bottom: 0; }

#glossaryModal .alphabet {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 25px;
  margin-left: -10px;
}

#glossaryModal .alphabet a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  color: black;
  opacity: .2;
  letter-spacing: 5px; }

#glossaryModal .alphabet a:hover {
  opacity: 1;
  font-weight: 600; }

/* end GLOSSARY MODAL */

.modal-header .close {
  padding: 0;
  padding-right: 1rem;
}

#btnGlossary {
  margin-right: 20px;
}
