video{
  width: 100%;;
}

audio{
  width: 100%;
  display: block;
}

#modalContainer audio{
  position: relative;
  top: 35%;
  transform: translateY(-50%);
}

button.close:hover,
button.close:active,
button.close:visited,
button.close:focus{
  outline: 0;
}

#audioModal audio{
  width: 100%;
  display: block;
  position: relative;
  top: 0%;
  transform: translateY(0);
}

#audioModal .modal-header{
  border: none;
}

#audioModal .modal-dialog{
  border: none;
  display: block;
  position: relative;
  top: 35%;
  transform: translateY(-50%);
  max-width: 800px;
}



#videoModal audio{
  width: 100%;
  display: block;
  position: relative;
  top: 0%;
  transform: translateY(0);
}

#videoModal .modal-header{
  border: none;
}

#videoModal .modal-dialog{
  border: none;
  display: block;
  position: relative;
  top: 35%;
  transform: translateY(-50%);
}

.embeded-vidAud{
  width: 100%;
  margin: 0 auto;
}

.playBtnOverlay{
  cursor: pointer;
  position:absolute;
  left:0;
  right:0;
  top: 0;
  bottom: 0;
  margin: auto;

}
