/*---- FONT IMPORTS ----*/
@font-face {
  font-family: "GMGlobalSansCond";
  src: url('fonts/GMGlobalSansCond_1_ExtraLight.eot');
  src:  url('fonts/GMGlobalSansCond_1_ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('fonts/GMGlobalSansCond_1_ExtraLight.woff') format('woff'),
  url('fonts/GMGlobalSansCond_1_ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "GMGlobalSansCond";
  src: url('fonts/GMGlobalSansCond_4_Plain.eot');
  src:  url('fonts/GMGlobalSansCond_4_Plain.eot?#iefix') format('embedded-opentype'),
  url('fonts/GMGlobalSansCond_4_Plain.woff') format('woff'),
  url('fonts/GMGlobalSansCond_4_Plain.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GMGlobalSansCond";
  src: url('fonts/GMGlobalSansCond_6_Bold.eot');
  src:  url('fonts/GMGlobalSansCond_6_Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/GMGlobalSansCond_6_Bold.woff') format('woff'),
  url('fonts/GMGlobalSansCond_6_Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
